<<<<<<< Updated upstream
=======
{{> header}}

<div id="timeline_grid" class="home_list">
    <!-- {{#each (API CALL EVENT)}} -->
    <div class="home_item display:flex; flex-direction: column">
        <!-- PUT NECESSARY ITEMS HERE FROM API CALL -->
    </div>
</div>

 {{> footer}}

>>>>>>> Stashed changes
