{{>header}}

{{>message}}
<div class="container-md mx-auto">
    <div class='mb-3'>
        <form action="/settings/updateUsername" method="POST">
            <label for="updateUsername" class="form-label">New Username</label>
            <input name="username" type="text" class="form-control" id="updateUsername" placeholder="Sample1234">
            <button class="btn btn-secondary" type="submit">Change Username</button>
        </form>
    </div>

    <div class='mb-3'>
        <form action="/settings/updatePassword" method="POST">
            <label for="updatePassword" class="form-label">New Password</label>
            <input name="password" type="password" class="form-control" id="updatePassword" placeholder="Password">
            <input name="password_confirm" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            <button class="btn btn-secondary" type="submit">Change Password</button>
        </form>
    </div>

    <div class='mb-3'>
        <form action="/settings/updatePicture" method="PUT">
            <label for="updatePicture" class="form-label">New Picture</label>
            <input type="email" class="form-control" id="updatePicture" placeholder="sampletext">
            <button class="btn btn-secondary" type="submit">Change Profile Picture</button>
        </form>
    </div>

    <div class='mb-3'>
        <form action="/settings/deleteAccount" method="post">
            <button class="btn btn-danger" type="submit">Delete Account</button>
        </form>
    </div>
</div>

{{>footer}}