{{>header}}

{{>message}}
<div class="container-md mx-auto">
    <div class='mb-3'>
        <form action="/settings/updateUsername" method="POST">
            <label for="updateUsername" class="form-label">New Username</label>
            <input name="username" type="text" class="form-control" id="updateUsername" placeholder="Sample1234">
            <button class="btn btn-secondary" type="submit">Change Username</button>
        </form>
    </div>
    <br>
    <div class='mb-3'>
        <form action="/settings/updatePassword" method="POST">
            <label for="updatePassword" class="form-label">New Password</label>
            <input name="password" type="password" class="form-control" id="updatePassword" placeholder="Password">
            <input name="password_confirm" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            <button class="btn btn-secondary" type="submit">Change Password</button>
        </form>
    </div>
    <br>
    <div class='mb-3'>
        <form action="/settings/updatePicture" method="POST">
            <label for="updatePicture" class="form-label">New Picture</label>
            <input type="file" onchange="loadImage()">
            <input id="newPictureText" name="newPicture" type="text" class="form-control" hidden>
            <img name="newPicture" src="" height="200" alt="Image preview" />
            <button class="btn btn-secondary" type="submit">Change Profile Picture</button>
        </form>
    </div>
    <br>
    <div class='mb-3'>
        <form action="/settings/deleteAccount" method="post">
            <button class="btn btn-danger" type="submit">Delete Account</button>
        </form>
    </div>
</div>


<script>  
    function loadImage() {
        const preview = document.querySelector("img");
        const file = document.querySelector("input[type=file]").files[0];
        const reader = new FileReader();

        reader.addEventListener(
            "load",
            () => {
            // convert image file to base64 string
            preview.src = reader.result;
            document.getElementById("newPictureText").value = reader.result;
            console.log(reader.result.length);
            },
            false,
        );
        if (file) {
            reader.readAsDataURL(file); 
        }
    }
</script>

{{>footer}}